{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{cat.name}}</title>
    <style>
      @font-face {
        font-family: "Aquatico";
        src: url('{% static "/fonts/aquatico-regular-webfont.woff2" %}');
      }
    </style>
    <link rel="stylesheet" href="{%static 'css/detail_style.css'%}" />
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="{% static './js/store.js'%}"></script>
  </head>
  <body>
    <div class="page-top">
      <a href="{%url 'notki_main'%}"><i class="fa fa-arrow-left fa-2x"></i></a>
     
      <h1 class="logo">{{cat.name}}</h1>
      <a href="{% url 'new_note' cat.name %}">
        <i class="fa fa-plus-square fa-3x"></i
      ></a>
    </div>
    <div class="cat-list">


      <div id="notki-all">
        {%for notka in notki%}
          <div class="cat-div func wpis" >
            {{notka.name}}
       
          </div>
          <div class="pole-opisu">
            <div class="top-note">
              <p class = "opis">{{notka.note}}</p>
            </div>
            <div class="bot-note">
              <a href="{% url 'del_note' notka.id%}"
              ><i  class="fa fa-trash fa-2x" aria-hidden="true"></i
            ></a><p>edit</p>
              </div>
        </div>
  
        </div>
        {%endfor%}
      </div>
      <div class='cat-div bot'>
      <a href="{% url 'del_cat' cat.name%}">
            <i class="fa fa-trash fa-lg kill-cat" aria-hidden="true"></i
          ></a>
        </div>
      </div>
    </div>
    <script src="{% static 'js/detail-app.js' %}"></script>
  </body>
</html>
