{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{cat.name}}</title>
    <style>
      @font-face {
        font-family: "Aquatico";
        src: url('{% static "/fonts/aquatico-regular-webfont.woff2" %}');
      }
    </style>
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="{% static './js/store.js'%}"></script>
  </head>
  <body>
    <div class="page-top">
      <h1 class="logo">{{cat.name}}</h1>
      <a href="{%url 'notki_main'%}"><i class="fa fa-arrow-left fa-2x"></i></a>
    </div>
    <div class="cat-list">
      <div class="cat-div nowy-wpis">
        <a href="{%url 'new_note' cat.name%}">
          <h3>
            ADD NOTE
          </h3>
        </a>
      </div>

      <div id="notki-all">
        {%for notka in notki%}
          <div class="cat-div func wpis" >
            {{notka.name}}
       
          </div>
          <div class="pole-opisu" id="{{notka.id}}"><p>{{notka.note}}</p>
            <a href="{% url 'del_note' notka.id%}"
            ><i class="fa fa-trash fa-2x" aria-hidden="true"></i
          ></a></div>
        </div>
        {%endfor%}
      </div>
      <div class="cat-div delete-cat">
        <a href="{% url 'del_cat' cat.name%}">
          <h3>
            DELETE CAT
          </h3>
        </a>
      </div>
    </div>
    <script src="{% static 'js/detail-app.js' %}"></script>
  </body>
</html>
