{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>NASZ LOKAL</title>
    <style>
      @font-face {
        font-family: "Aquatico";
        src: url('{% static "/fonts/aquatico-regular-webfont.woff2" %}');
      }
    </style>
        <link rel="stylesheet" href="{%static 'css/del_add_style.css'%}" />
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="page-top">
      <h3 class="logo"> Edit note</h3>
      <a href="{%url 'notki_main'%}"><i class="fa fa-arrow-left fa-2x"></i></a>
    </div>
    <div class="page-main">
      <div class="form-area">
            <div class="note-form">
                <form method="POST" action="{% url 'update_note' note.id %}">

                <div class="note-name"><h4>name:</h4><div>{{form.name}}</div></div> 
                <div class="note-name text"><h4>note:</h4><div>{{form.note}}</div></div>
                {% csrf_token %} 
            </div>
          <button type="submit" value="ok" class='new-note-btn'>Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
