{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      @font-face {
        font-family: "Aquatico";
        src: url('{% static "/fonts/aquatico-regular-webfont.woff2" %}');
      }
    </style>
    <link rel="stylesheet" href="{%static 'css/login.css'%}" />
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    {% block content %}
    <div class="page-content">
      <h3 id="please-sign">Please sign in:</h3>
      <div class="form-area">
        <form
          id="sign-form"
          role="form"
          action="{% url 'player_login' %}"
          method="POST"
        >
          {% csrf_token %} {{form}}
          <button type="submit" class="sign-btn">Sign in:</button>
        </form>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
