{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>NASZ LOKAL</title>
    <style>
      @font-face {
        font-family: "Aquatico";
        src: url('{% static "/fonts/aquatico-regular-webfont.woff2" %}');
      }
    </style>
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="page-top">
      <h3 class="logo">{{category.name}} ADD NOTE</h3>
      <a href="{%url 'notki_main'%}"><i class="fa fa-arrow-left fa-2x"></i></a>
    </div>
    <div class="page-main">
      <form method="POST" action="{% url 'add_note' category.name %}">
        {% csrf_token %} {{form}}
        <button type="submit" value="ok">Submit</button>
      </form>
    </div>
  </body>
</html>
