{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>NEW CAT</title>
    <style>
      @font-face {
        font-family: "Aquatico";
        src: url('{% static "/fonts/aquatico-regular-webfont.woff2" %}');
      }
    </style>
    <link rel="stylesheet" href="{%static 'css/del_add_style.css'%}" />
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header>
        <div class="page-top">
        <h1 class="logo">ADD CATEGORY</h1>
        <a href="{%url 'notki_main'%}"><i class="fa fa-arrow-left fa-2x"></i></a>
        </div>
    </header>
    <section>
      <div class="page-main">
          <form method='POST' action="{%url 'add_cat'%}">
            <div class="form-area">
                {% csrf_token %}
                {{form}}
    
            </div>
            <button type='submit' value='ok' class="add-cat"> ADD NEW CATEGORY</button>
            </form>
        </div>
      </div>
    </section>
  </body>
</html>
