/* NEW / DEL CAT/ NOTE*/

.form-area {
  background-color: rgba(104, 62, 121, 0.62);
  height: 60vh;
  margin: 15px 10px;
  color: var(--kolor-liter);
  font-size: 30px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  justify-content: space-evenly;
  flex-direction: column;
}

.form-area input {
  font-size: 24px;
  font-family: "Aquatico";
  margin: 20px 10px;
  width: 70vw;
  border-radius: 5px;
  background: transparent;
  color: var(--kolor-liter);
  border: 1px solid var(--kolor-liter);
  padding: 10px;
}
.form-area textarea {
  width: 70vw;
  background: transparent;
  border-radius: 5px;
  border: 1px solid var(--kolor-liter);
  margin: 10px;
  height: 30vh;
  color: var(--kolor-liter);
  font-size: 20px;
  position: relative;
  left: 2px;
  padding: 10px;
}

.bot-note {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(134, 13, 204);
  height: 20vh;
}

.form-area p {
  margin: 15px;
  text-align: center;
}

.btn-area {
  display: flex;
  margin-top: 50px;
  align-items: center;
}

.btn-area button {
  width: 30vw;
  height: 10vh;
  margin: 0 50px 0 0;
  border-radius: 15px;
  background: transparent;
  color: var(--kolor-liter);
  font-size: 2rem;
  font-family: "Aquatico";
  cursor: pointer;
  border: 1px solid white;
}

.back-btn {
  position: relative;
  text-decoration: none;
  color: var(--kolor-liter);
  padding: 15px;
  color: var(--kolor-liter);
  border-radius: 15px;
  border: 1px solid whitesmoke;
  background: transparent;
  font-size: 1.7rem;
  width: 30vw;
  text-align: center;
}

#ok {
  font-size: 1.8rem;
}

.new-note-btn {
  margin: 20px;
  color: var(--kolor-liter);
  width: 30vw;
  height: 10%;
  background: transparent;
  border-radius: 15px;
  font-size: 20px;
  border: 1px solid white;
}

.note-form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  font-size: 1.4rem;
}

.note-name {
  display: flex;
  align-items: center;
}

.dest {
  color: red;
}

.add-cat {
  width: 50vw;
  height: 40px;
  margin: auto;
  border-radius: 8px;
  border: 1px solid #ffffff;
  background: transparent;
  color: var(--kolor-liter);
  font-size: 1.2rem;
  position: absolute;
  left: 25vw;
  cursor: pointer;
}

.add-cat:hover {
  background: rgba(104, 62, 121, 0.62);
}

.ok-btn {
  background: transparent;
  width: 30vw;
}

.page-content {
  display: flex;
  flex-direction: column;
  background-color: thistle;
}

.wpis-note {
  color: sandybrown;
}

.communicate {
  position: relative;
  top: 40px;
}
