/* DETAIL VIEW */

.wpis {
  height: 14vh;
  font-size: 1.6rem;
  position: relative;
}

.pole-opisu {
  height: 0vh;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.7s 0.7s ease-in-out;
  color: var(--kolor-liter);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bot-note {
  display: flex;
  flex-direction: column;
  height: 30%;
  align-content: center;
  justify-items: center;
}

.edit {
  padding: 12px 20px;
  text-decoration: none;
  color: var(--kolor-liter);
  cursor: pointer;
}

.top-note {
  height: 65%;
  padding: 10px;
}
