/* DETAIL VIEW */

.wpis {
  height: 14vh;
  font-size: 1.6rem;
  position: relative;
}

.page-top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  position: relative;
}

.pole-opisu {
  height: 0vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.7s 0.7s ease-in-out;
  color: var(--kolor-liter);
  font-size: 1.5rem;
}

.bot-note {
  display: flex;
  flex-direction: row-reverse;
  height: 20%;
  justify-content: space-between;
  align-items: center;
}

.edit {
  padding: 12px 20px;
  text-decoration: none;
  color: var(--kolor-liter);
  cursor: pointer;
}

.top-note {
  height: 75%;
  padding: 10px;
  text-align: center;
}

.bot-item {
  margin: 20px;
}
