* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Aquatico";
  background: hsl(73, 4%, 41%);
}

.cat-list {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.cat-name {
  position: absolute;
  left: 10vw;
  top: 30%;
}

.cat-div {
  width: 100vw;
  height: 14vh;
  display: flex;
  background-color: royalblue;
  margin: 20x;
  color: whitesmoke;
  font-size: 1.8rem;
  align-items: center;
  justify-content: space-around;
  border: 3px solid whitesmoke;
  cursor: pointer;
  position: relative;
}

.wpis {
  height: 10vh;
  font-size: 1.6rem;
  position: relative;
}

.nowy-wpis {
  height: 10vh;
  background-color: rgba(253, 74, 4, 0.952);
  font-size: 1.6rem;
}

.delete-cat {
  height: 10vh;
  background-color: rgba(148, 13, 13, 0.822);
  font-size: 1.6rem;
}

.cat-div a {
  text-decoration: none;
  color: whitesmoke;
}

.new {
  background-color: rgba(253, 74, 4, 0.952);
  font-size: 1.6rem;
}

.cat-div:hover {
  filter: brightness(150%);
}

.cat-right-side {
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.items {
  font-size: 10px;
  margin: 20px;
}
.page-top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  position: relative;
}

.logo {
  color: white;
  margin: 20px;
  text-align: center;
}

.fa-plus {
  position: absolute;
  right: 5vw;
  top: 32%;
}

.fa-plus:hover {
  color: grey;
}

.fa-arrow-left {
  color: white;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 3vh;
  right: 10vw;
}

.fa-arrow-left:hover {
  color: grey;
}

.btn {
  font-family: "Aquatico";
  border-radius: 10px;
  width: 70vw;
  margin: auto;
  font-size: 15px;
}

.form-area {
  background-color: grey;
  height: 30vh;
  margin: 15px 10px;
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  justify-content: space-evenly;
  flex-direction: column;
}

.del {
  height: 60vh;
}

.form-area input {
  font-size: 30px;
  font-family: "Aquatico";
}

.form-area p {
  margin: 15px;
  text-align: center;
}
.fa-trash {
  position: absolute;
  right: 10vw;
  top: 30%;
}

.fa-trash:hover {
  color: grey;
}

.wpis-note {
  color: khaki;
}

.btn-area {
  display: flex;
  margin-top: 50px;
  align-items: center;
}

.btn-area button {
  width: 30vw;
  height: 10vh;
  margin: 0 50px;
  border-radius: 15px;
  background: transparent;
  color: whitesmoke;
  font-size: 2rem;
  font-family: "Aquatico";
  cursor: pointer;
}
.btn-area button:hover {
  border: 3px solid whitesmoke;
}

.back-btn {
  text-decoration: none;
  color: whitesmoke;
  padding: 14px;
  border: 1px solid whitesmoke;
  border-radius: 15px;
}
